body{
    background-color: rgba(0, 0, 0, 0.978);
}
header{
    background-image: url(images/b1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 600px;
    margin-bottom: 100px;
}
#title{
    color: white;
    padding-top: 70px;
    /* margin-top: 100px; */
}
.title-discription{
    color: white;
    text-align: center;
    margin-bottom: 150px;
}
.flex{
    display: flex;
    
    gap: 15px;
}
.image{
    width: 18rem;
    height: 20rem;
}

.input{
    width: 150px;
    height: 40px;
    background-color:rgba(128, 128, 128, 0.56);
    color: white;
    border: none;
}
footer{
    margin-top: 100px;
    color: white;
    text-align: center;
    
}
.footer-para{
    padding: 30px;
}

    