body{
    background-color: rgba(0, 0, 0, 0.978);
}
#title{
    color: tomato;
    margin-top: 100px;
}
.title-discription{
    color: white;
    text-align: center;
    margin-bottom: 150px;
}
.flex{
    display: flex;
    
    gap: 15px;
}
.image{
    width: 18rem;
    height: 20rem;
}

.input{
    width: 150px;
    height: 40px;
    background-color:gray;
    border: none;
}